*{
      padding: 0;
      margin: 0;
}
body{
      background: #000;
      color: white;

}
.showcase{
      position: relative;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/77d35039-751f-4c3e-9c8d-1240c1ca6188/cf244808-d722-428f-80a9-052acdf158ec/IN-en-20231106-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
      box-shadow: 13px -15px 400px 138px rgba(0,0,0,1) inset;
}
.showcase-top{
      position: relative;
      height: 90px;
}
.showcase-top img{
      position: absolute;
      top: 50%;
      left: 20%;
      width: 200px;
      transform: translate(-50%, -50%);
}
.signin{
      position: absolute;
      top: 30%;
      right: 0;
      height: 40px;
      width: 70px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      transform: translate(-200%, -0%);
      cursor: pointer; 
      font-weight: bolder;
      font-family: sans-serif;
}
.signin:hover{
      box-shadow: 200px 200px 400px 200px rgb(133, 3, 3) inset;
}
.language{
      position: absolute;
      top: 30%;
      right: 0;
      height: 35px;
      width: 120px;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      transform: translate(-200%, -0%);
      background-color: transparent;
}
option{
      background-color: black;
}
.showcase-content{
      justify-content: center; 
      text-align: center;
      margin-top: 10%;
      font-family: sans-serif;
}
.showcase-content h1{
      font-size: 50px;
      font-weight: bolder;
      font-family: sans-serif;
}
.showcase-content h2{
      font-size: 30px;
      font-family: sans-serif;
}
.email{
      height: 40px;
      width: 28%;
      border-radius: 5px;
      color: white;
      border: 1px solid red;
      background-color: transparent;
}
.email:hover{
      height: 40px;
      width: 28%;
      border-radius: 5px;
      border: 1px solid white;
}
.getstart{
      height: 40px;
      width: 155px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bolder;
      font-family: sans-serif;
      padding-left: 5px;
}
.getstart:hover{
      box-shadow: 200px 200px 400px 200px rgb(133, 3, 3) inset;
}
.showcase-content ::placeholder{
      padding-left: 10px;
      font-weight: bold;
      color: white;
      font-family: sans-serif;
}
.main-section-1{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
}
.enjoy{
      font-size: 50px;
      font-family: sans-serif;
}
.section1 h3{
      font-size: 25px;
      font-family: sans-serif;
      height: 10px;
}
.content-1{
      margin-top: 10%;
      margin-right: 50px;
      font-family: sans-serif;
}
.tv1{
      display: flex;
      position: absolute;
      background-color: transparent;
}
.bg-vdo1{
      margin-top: 90px;
      margin-right: 0px;
      background-color: transparent;
}
.tv-vdo video{
      margin-left: 80px;
      margin-top: 5px;
}
.tv-vdo{
      margin-bottom: 150px;
      
}
/*                     main-section-2                          */
.main-section-2{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      font-family: sans-serif;
}

.main-section-2 img{
      height: 400px;
      padding-top: 90px;
      padding-bottom: 30px;
      margin-right: 50px;
}
.main-section-2 .section-2-2{
      margin-top: 100px;
}
.main-section-2 h1{
      font-size: 50px;
      font-family: sans-serif
}
.main-section-2 h3{
      font-size: 25px;
      font-family: sans-serif;
      height: 10px; 
}
.small-div{
      display: flex;
      align-items: center;
      width: 300px;
      height: 100px;
      background-color: black;
      position: absolute;
      margin-top: 360px;
      margin-left: 115px;
      border-radius: 15px;
      border: 1px solid white;
}
.section-2-1{
      display: flex;
}
.small-div img{
      height: 80px;
      width: 60px;
      margin-bottom: 60px;
      margin-left: 10px;
      
}
.small-text h5{
      font-size: 20px;
      font-weight: 100;
}
.small-text h6{
      color: blue;
      font-size: 15px;
      font-weight: 100;
}
/*            part- 3                       */
.main-section-3{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
}
.tv2{
      display: flex;
      position: absolute;
      margin-top: 50px;
      background-color: transparent;
}
.bg-vdo2{
      margin-top: 90px;
      margin-right: 0px;
      background-color: transparent;
}
.tv-vdo2 video{
      width: 400px;
      margin-left: 110px;
      
}
.tv-vdo2{
      margin-bottom: 150px;
      margin-right: 100px;
      
}
.main-section-3 .section3-1{
      margin-top: 180px;
      margin-right: 10px;
}
.main-section-3 h1{
      font-size: 55px;
      font-family: sans-serif;
}
.main-section-3 h3{
      font-size: 25px;
      font-family: sans-serif; 
}
/*                     section - 4                          */
.main-section-4{
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
}
.main-section-4 .content-4{
      margin-top: 140px;
      margin-right: 10px;
}
.main-section-4 h1{
      font-size: 55px;
      font-family: sans-serif;
}
.main-section-4 h3{
      font-size: 25px;
      font-family: sans-serif;
}
.main-section-4 img{
      margin-top: 20px;
      margin-right: 7px;
}
/*                        part - 5                */
.options{
      font-size: 50px;
      justify-content: center;
      text-align: center;
      margin-top: 30px;
      font-family: sans-serif;
}
.box-1{
      margin-top: 20px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.box-2{
      margin-top: 10px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.box-3{
      margin-top: 10px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.box-4{
      margin-top: 10px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.box-5{
      margin-top: 10px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.box-6{
      margin-top: 10px;
      margin-left: 140px;
      height: 65px;
      width: 80%;
      padding-left: 15px;
      padding-top: 35px;
      background-color: rgb(86, 85, 85);
      font-family: sans-serif;
}
.bottem{
      justify-content: center; 
      text-align: center;
      margin-top: 50px;
      font-family: sans-serif;
}
.footers{
      display: flex;
      justify-content: space-between;
      
}
.footers ul{
      margin-top: 20px;
      margin-left: 90px;
}
.footers ul li a{
      color: white;
      font-family: sans-serif;
}
.footers ul li{
      list-style-type: none;
      line-height: 2;
      margin-right: 80px;

}
.p1{
      font-family: sans-serif;
      margin-left: 90px;
      margin-top: 90px;
}
.language2{

      height: 35px;
      width: 120px;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      margin-left:85px;
      margin-top: 20px;
      background-color: transparent;
}
.end{
      margin-left: 85px;
      margin-top: 20px;
      font-family: sans-serif;
}
i{
      color: white;
      padding-right: 20px;
}
hr{
   padding: 0.3%;  
   background-color: rgb(66, 65, 65);
   border-color: black;
}
.box-1:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.box-2:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.box-3:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.box-4:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.box-5:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.box-6:hover{
      box-shadow: -5px -15px 153px -30px rgb(209, 191, 191) inset;
      cursor: pointer;
}
.boxes{
      font-size: 25px;
}